<div class="mypage">
  <%= form_for @user do |f| %>
  <%= f.label :nickname, 'ユーザー名'%>
  <%= f.text_field :nickname, autofocus: true, autocomplete: 'name', required: 'required' %>

  <%= f.label :profile, '自己紹介（１５０文字以内）' %>
      <%= f.text_area :profile, class: 'form-control', rows: 5 %>
      <%= f.submit '変更を保存する', class: 'btn btn-primary' %>
  <% end %>
</div>
