<div class="contents row">
  <h3 class="contents-title">
    写真を投稿する
  </h3>
  <div class="container">
    <div class="container__left">
      <div calss="pic-box">
        <div class="posts-title">写真を投稿する</div>
        <div class="required">※必須です</div>
        <div class="show-text">
          画像形式:JPEG/PNG
          <br>
          容量:5MB以内
        </div>
      </div>
      <div class='category-box'>
        <div class='posts-title'>カテゴリーを選択する</div >
        <div class= 'required'>※任意です</div>
        <div class='show-text'>該当するカテゴリーを選択下さい</div>
      </div>
      <div class='comment-box'>
        <div class='posts-title'>コメントを入力して下さい</div>
        <div class='required'>※必須です</div>
        <div class='show-text'>文字制限:200文字</div>
      </div>
    </div>
    <div class="container__right">
      <%= form_with(model: @post,local: true) do |form| %>
        <div class="image-box">
          <%= form.label :image, for: "file-input", class: "fa fa-camera fa-5x" do %>
          <%= form.file_field :image, id: "file-input", style: "display: none;" %>
          <% end %>
        </div>
        <div class="category-box-left">
          <%# ここにカテゴリー送信フォームを実装予定 %>
          <div class="category-box-left-text">
            <%= form.label :category,class:'category-label'%>
            <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
              <%= category.label do %>
                <%= category.check_box %>
                <%= category.text %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="comment-text">
          <%= form.text_area :text, placeholder: "コメントを入力する" , size: "40x5", maxlength: "200", class: "comment-area" %>
        </div>
        <%= form.submit "写真を投稿する", class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
