<div class ="post__show">
  <div class="post__show__left">
    <div class="post__show__left--image"><%= image_tag(@post.image.to_s, size: '600x600') %></div>
    <div class="post__show__left--bottom">
      <div class="post__show__left--bottom--left">
        <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
      <div class="post__show__left--bottom--right">
        <% if user_signed_in? && current_user.id == @post.user_id %>
        |<%= link_to '削除', "/posts/#{@post.id}", method: :delete, class: "show-edit-btn" %>
        |<%= link_to '編集', "/posts/#{@post.id}/edit", method: :get, class: 'show-edit-btn' %>
        <% end %>
        <div>
          |<%= link_to 'シェア', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank', class: 'show-edit-btn' %>|
        </div>
      </div>
    </div>
    <div class="post__show__left--text">
      <%= render 'posts/comment'%>
    </div>

  </div>
  <div class="post__show__right">
    <% if @post.user.image? %>
      <%= image_tag(@post.user.image.to_s, size: '80x80' ,class: "user-icon")%>
      <% else %>
      <%= image_tag('icon.png', size: '80x80')%>
      <% end %><br>
    <div class="post__show__right--user"><%= link_to @post.user.nickname, @post.user, class: 'user-nav' %></div>
    <div class='post__show__right__like'>
        <% if user_signed_in? %>
          <% if @post.liked_by?(current_user) %>
            <p><%= link_to 'いいね', post_like_path(@post.id), method: :delete, class: 'like-btn like' %></p>
            <% else %>
            <p><%= link_to 'いいね', post_likes_path(@post.id), method: :post, class: 'like-btn' %></p>
            <% end %>
          <% else %>
        <% end %>
    </div>
      <%= @post.likes.count %>人がいいねしています
    <div class="post__show__right__category">
      カテゴリー<br>
      〇〇
      <%# 上記にカテゴリーを表示する %>
    </div>
      紹介文
    <div class="post__show__right__text">
      <%= simple_format(@post.text) %>
    </div>
  </div>
</div>


