<div class ="post__show">
  <div class="post__show__left">
    <div class="post__show__left--image"><%= image_tag(@post.image.to_s)%></div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
    <% end %>
    <%= simple_format(@post.text) %>
  </div>
  <div class="post__show__light">
    <%= image_tag "member_photo_noimage_thumb.png",class: "user_icon-mini"%>
    <a href="/users/<%= @post.user.id %>">
    <%= @post.user.nickname %>
    </a>
    <div class='post__show__light__like'>
      いいね
    </div>
  </div>
</div>


