<div class ="post__show">
  <div class="post__show__left">
    <div class="post__show__left--image"><%= image_tag(@post.image.to_s) %></div>
    <div class="post__show__left--bottom">
    <%# 位置の調整は画像のサイズを変えれる様になってから %>
      <div class="post__show__left--bottom--left">
        <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
      <div class="post__show__left--bottom--right">
        <% if user_signed_in? && current_user.id == @post.user_id %>
        |<%= link_to '削除', "/posts/#{@post.id}", method: :delete, class: "show-edit-btn" %>
        |<%= link_to '編集', "/posts/#{@post.id}/edit", method: :get, class: 'show-edit-btn' %>
        <% end %>
        <div>
          |シェア|
        </div>
      </div>
    </div>
    <div class="post__show__left--text">
      コメント実装する場所
    </div>

  </div>
  <div class="post__show__right">
    <%= image_tag "member_photo_noimage_thumb.png",class: "user_icon"%><br>
    <div class="post__show__right--user"><a href="/users/<%= @post.user.id %>"><%= @post.user.nickname %></a></div>
    <div class='post__show__right__like'>
      <div class="like-btn">いいね</div>
    </div>
      ◯◯人がいいねしています
      <%# ◯のところにいいねの数をいれる %>

    <div class="post__show__right__category">
      カテゴリー<br>
      〇〇
      <%# 上記にカテゴリーを表示する %>
    </div>
    紹介文
    <div class="post__show__right__text">
      <%= simple_format(@post.text) %>
    </div>
  </div>
</div>


