<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__contents">
        <div class="header__contents--title">
          <%= link_to "Room", root_path, class: "header__contents--title--text"%>
        </div>
        <div class="header__contents--search">
          <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
          <div class="header__contents--center"><%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %></div>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>

          <nav>
            <ul class="header__contents--left">
            <% if user_signed_in? %>
              <li><%= link_to  "新規投稿", "/posts/new", class: "header--post" %></li>
              <li><%= link_to current_user.nickname, user_path(current_user), class: "header--post"%></li>
              <% else %>
              <li><%= link_to "ログイン", new_user_session_path, class: 'header--post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'header--post' %></li>
              <% end %>
            </ul>
          </nav>
      </div>
    </header>

    <%= yield %>
    <%# <footer>
      <p>
        Copyright © 2020 Room, All Rights Reserved.
      </p>
    </footer> %>

  </body>
</html>
