<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__contents">
        <div class="header__title">
        <%= link_to "Room", '/posts', class: "header__title--text"%>
        </div>
        <% if user_signed_in? %>
          <div class="header__contents--left">
            <%= link_to  "投稿する", "/posts/new", class: "header--post" %>
            <span><%= current_user.nickname%>
              <ul class="user__info">
                <li>
                  <%# <%= link_to "マイページ", "/users/#{current_user.id}", class: 'header--post' %> 
                  <%# <%= link_to "ログアウト", destroy_user_session_path, class:'header--post', method: :delete %>
                </li>
              </ul>
            </span>
            
          </div>
        <% else %>
          <div class="header__contents--left">
            <%= link_to "ログイン", new_user_session_path, class: 'header--post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'header--post' %>
          </div>
        <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    
  </body>
</html>